{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 27 juillet 2020 dans la categorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam beatae aspernatur natus molestiae! Iusto
                corporis, sint adipisci, natus veniam
                inventore dolore sequi dolorem voluptatum, ullam fugit esse porro ea quos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quisquam
                fuga molestiae reprehenderit cupiditate eos sint nemo similique neque ducimus ex amet tempore,
                eligendi consequatur explicabo dignissimos optio iusto aliquid.</p>

            <a href="" class="btn-btn primary"> Lire la suite</a>

        </div>
    </article>

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 27 juillet 2020 dans la categorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam beatae aspernatur natus molestiae! Iusto
                corporis, sint adipisci, natus veniam
                inventore dolore sequi dolorem voluptatum, ullam fugit esse porro ea quos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quisquam
                fuga molestiae reprehenderit cupiditate eos sint nemo similique neque ducimus ex amet tempore,
                eligendi consequatur explicabo dignissimos optio iusto aliquid.</p>

            <a href="" class="btn-btn primary"> Lire la suite</a>

        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 27 juillet 2020 dans la categorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam beatae aspernatur natus molestiae! Iusto
                corporis, sint adipisci, natus veniam
                inventore dolore sequi dolorem voluptatum, ullam fugit esse porro ea quos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quisquam
                fuga molestiae reprehenderit cupiditate eos sint nemo similique neque ducimus ex amet tempore,
                eligendi consequatur explicabo dignissimos optio iusto aliquid.</p>

            <a href="" class="btn-btn primary"> Lire la suite</a>

        </div>
    </article>
</section>
{% endblock %}